body {
    background-color: lightgray;
    /* font-family: 'Times New Roman', Times, derif; */
}

#event-title, #entry-title {
    
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
}

/* #submit-entry {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2px;
  } */




